@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #CAEB66;
    --color-secondary: #03373D;
}


body {

    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
     background: #fff7f0

}